/*
  Base
*/
:root {
    --general-bg-color: rgb(50,50,50);
    --video-bg-color: rgb(50,50,50);
    --code-bg-color: rgb(245,245,245);
    --head-bg-color: #1d1d1d;

    --general-font-color: rgb(230,230,230);
    --general-link-color: rgb(187, 81, 81);
    --general-link-hover:  rgb(187, 121, 121);
    --general-link-colori: var(--general-font-color);
    --general-link-hoveri: var(--general-font-color);

    --social-link-color: var(--general-font-color);
    --menu-link-color: var(--general-font-color);
    --menu-link-hover: var(--general-font-color);
    --menu-linkbg-color: var(--general-link-color);
    --menu-linkbg-hover: rgb(187, 121, 121);
    --menu-highlighted: rgb(50,50,50);

    --footer-font-color: rgb(148, 148, 148);
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
  color: var(--general-font-color);
  background-color: var(--general-bg-color);
  line-height: 1.75rem;
}

@media (max-width: 30em) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
}

/*
    Animation Begin

@keyframes slider {
    from {width:100%;}
    to {width:0%;}
}

@keyframes strip {
    from {border-left-color: rgb(200,200,200);}
    to {border-left-color: var(--post-bg-color);}
}

div#slider {
    background-color: var(--post-bg-color);
    position: absolute;
    display: block;
    z-index:999;
    bottom: 0px;
    right: -1vw;
    width:0%;
    height: 101%;
    animation-delay: 0s;
    
    animation-name: slider;
    animation-timing-function: cubic-bezier(0.380, 0.005, 0.260, 1.000);
    animation-duration: 1s;
}

div#strip {
    top:0px;
    right:0px;
    height:100%;
    width:100%;
    border-left: solid 3px var(--post-bg-color);
    
    animation-name: strip;
    animation-timing-function: cubic-bezier(0.985, 0.005, 0.895, 0.100);
    animation-duration: 1s;
}

    Animation End
*/

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Quattrocento Sans", sans-serif;
  color: var(--general-title-color);
}

a, a:visited {
  text-decoration: none;
  color: var(--general-link-color);
}

a:hover {
  color: var(--general-link-hover);
  border-bottom: none;
}

a.inverted {
  background-color: var(--general-link-color);
  color: var(--general-link-colori);
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 4px;
}

a.inverted:hover {
   background-color: var(--general-link-hover);
   color: var(--general-link-hoveri);
}

ul.craft_list_version {
  list-style-type: none;   
}

ul.craft_list_members {
  list-style-type: circle;
}

img#logo {
    background-color: #000;
    height: 64px;
    width: 1024px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    opacity: 0.95;
}

@media (max-width: 30em) {
  img#logo {
    height: 48px;
    width: auto;
}
}

@media (max-width: 22em) {
  img#logo {
    height: 40px;
    width: auto;
}
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 0px;
  margin:auto;
}

div#video {
  position: relative;
  background-color: var(--video-bg-color);
  width: 100%;
  padding-bottom: 56.25%;
  padding-top: 0%;
  height: 0;
  overflow: hidden;  
}

.ytplayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

blockquote {
  border-left: 0.25rem solid #ccc;
  margin: 1.5em 10px;
  color: #999;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/*
  Site container
*/

.container {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  background-color: var(--general-bg-color);
  /*box-shadow: 0px 0px 10px rgb(200,200,200);*/
  padding: 2vw;
  padding-top: 96px;
}

@media (max-width: 1366) {
  .container {
    
  }
}

/*48em*/

@media (max-width: 768px) {
  body {
    background-color: var(--general-bg-color); 
  }
  .container {
    box-shadow: none;
    /*padding: 0vw;*/
    width: 90vw;
  }
}

/*
  Masthead
*/

.masthead {
  margin-bottom: 3rem;
}
.tophead {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  height: 64px;
  width: 100%;
  background-color: var(--head-bg-color);
  box-shadow: #000 0px 0px 10px;
  margin-top: 0px;
  opacity: 0.95;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}

/*
  Post
*/

.post-container {
  background-color: var(--general-bg-color);
  position: relative;
  margin-bottom: 4rem;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}

.post-date {
  display: block;
  margin-top:3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:0.8rem;
}

@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Footer
*/

.footer {
  color: var(--footer-font-color);
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: var(--footer-font-color);
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: var(--general-font-color);
}

/*
  Menu
*/

.menu {
  margin-top: 0px;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: var(--menu-link-color);
  background-color: var(--menu-linkbg-color);
  font-size: 1.3rem;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.menu-content a:hover {
  background-color: var(--menu-linkbg-hover);
  color: var(--menu-link-hover);
}

.menu-content a#highlighted {
  color: var(--menu-highlighted);
  background-color: var(--menu-link-color);
  font-size: 1.3rem;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.menu-content a#highlighted:hover {
  background-color: var(--menu-link-color);
  color: var(--menu-linkbg-color);
}

.social-icons {
  float: right;
}

.social-icons a {
  color: var(--social-link-color);
  font-size: 1.3rem;
}

@media (max-width: 25em) {
  .menu-content a {
    font-size: 1.0rem;
  }
  .social-icons a {
    font-size: 1.0rem;
  }
}

/*
  Code
*/

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: var(--code-bg-color);
    font-family: "Source Code Pro";
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}

/**
 * Tables
 */
 table {
     border-collapse: collapse;
     margin-bottom: 30px;
     width: 100%;
 }

 table, th, td {
     border: 1px solid black;
 }
 th, td {
     padding: 15px;
     text-align: left;
 }

/*
  Social media icons
*/

.sharing-icons a {
  padding-right: 10px;
}

.fa-envelope {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #f39c12;
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #00aced;
}

.fa-youtube {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-youtube:hover {
	color: #c04646;
}


.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #375989;
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #343434;
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #0073a4;
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #3d5b99;
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #e64a41;
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}

.fa-rss-square {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-rss-square:hover {
	color: #ff6600;
}
