---
layout: default
---

<h1>
  {{ page.title }}
</h1>

{% if page.videocode %}
    <div id="video">
        <iframe class="ytplayer" type="text/html" allowfullscreen src="http://www.youtube.com/embed/{{ page.videocode }}?version=3&theme=dark&color=white&modestbranding=0&rel=0&showinfo=0&enablejsapi=1&wmode=transparent&origin=http://www.kNews.space" frameborder="0"></iframe>
    </div>
{% endif %}

{{ content }}

<span class="post-date">
  Written on
  {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}
    {% when '1' or '21' or '31' %}{{ d }}st
    {% when '2' or '22' %}{{ d }}nd
    {% when '3' or '23' %}{{ d }}rd
    {% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}
  by
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.data.authors.primary.name }}
  {% endif %}
</span>

{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
